@import './constants.scss';
@font-face {
  font-family: 'Visuelt';
  src: url('./fonts/visuelt-regular.eot') format('eot'),
    url('./fonts/visuelt-regular.woff2') format('woff2'),
    url('./fonts/visuelt-regular.woff') format('woff'),
    url('./fonts/visuelt-regular.ttf') format('truetype');
}

body {
  font-family: 'Visuelt';
}
.container {
  margin: $gutter-size--large;
}

.app-header {
  padding: $gutter-size--large;
  text-align: center;

  img {
    max-height: 33px;
  }
  border-bottom: $border-standard;
}

.app-user {
  padding: $gutter-size;

  img {
    max-height: 50px;
  }
  strong {
    margin-left: 20px;
    padding-top: 10px;
  }
  border-bottom: $border-standard;
}

.button-div {
  border-top: $border-standard;
  margin-top: 20px;
}
.button {
  cursor: pointer;
  box-sizing: border-box;
  padding: 12px;
  background-color: $positive;
  color: $secondary-light;
  width: 100%;
  height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
}
.button:disabled {
  cursor: initial;
  background-color: $light-grey;
  color: $positive;
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}

label.radio-inline {
  background-color: white;
  border: $border-standard;
  color: grey;
  box-sizing: border-box;
  padding: 10px;
  min-width: 60px;
  height: 40px;
  margin-right: 12px;
  margin-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 35px;
}

input:checked + label.radio-inline {
  background-color: $positive;
  color: $secondary-light;
}

input:focus + label.radio-inline {
  outline: auto;
}

input {
  opacity: 0;
  position: absolute;
}

form {
  padding: 10px;
}

.form-field {
  border-width: 0px;
  padding: 0.35em 0.75em 0.625em;
  display: block;
}

textarea {
  min-height: 100px;
  width: 100%;
  border: $border-standard;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 12px;
}
.type-icon {
  width: 20px;
  margin-right: 20px;
}

legend {
  display: inline-flex;
}
.user-info {
  display: flex;
  padding: 20px 20px 20px 0;
}

.error {
  color: $error;
}
